.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 25%;
    height: 164px;
    background: #ffffff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
  }
  
  .cardTitle {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5f6980;
  }
  
  .cardSubtitle {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    color: #282828;
  }
  
  .cardInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }
  
  .cardBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    width: 54px;
    height: 24px;
    background: #dcfff5;
    border-radius: 38px;
    color: #20c997;
  }
  
  .cardFromPercent {
    margin: 0;
    color: #9d9fa2;
  }
  
  .negative {
    background: #ffe0e3;
    color: #dc3545;
  }
  
  .zero {
    background: #f2f4f7;
    color: #5f6980;
  }
  