.navbar {
    width: 100%;
    height: 66px;
    background-color: #ffffff;
    border-bottom: 1px solid #eaecf0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.search {
    display: block;
    padding: 0 16px 0 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 46px;
    background: url(../../Media/search.svg) no-repeat 16px center;
    background-size: 16px 16px;
    border: 1px solid #eaecf0;
    border-radius: 6px;
}

.search::placeholder {
    color: #9d9fa2;
}

.search:focus {
    outline: none;
}

.navbarItemsContainer {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 32px;
}

.navbarItems {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-left: 32px;
}

.profile {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 40px;
}

.navbarLogo {
    display: none;
}

.notification img {
    display: block;
}

.notification:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: 19px;
    top: 5px;
    background: #e25563;
    border-radius: 50% 50%;
}

.profile:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    right: 1px;
    top: 31px;
    background: #20c997;
    border: 1px solid #ffffff;
    border-radius: 32px;
}

.profile > img {
    display: block;
    width: 40px;
}

.navbarItemIcon {
    width: 24px;
    height: 24px;
    padding: 1px;
}
