body {
  margin: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #f2f4f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
